---
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";

const BASE_URL = import.meta.env.BASE_URL;
---

<Layout title="Social Link Profile">
  <main class="flex items-center justify-center h-full">
    <div class="bg-grey-800 rounded-lg xl:w-[350px]">
      <div class="flex flex-col items-center pt-7">
        <img
          class="rounded-full w-20"
          src={`${BASE_URL}/images/avatar-jessica.jpeg`}
          alt="Jessica Randall"
        />
        <h2 class="text-white pt-6 text-2xl font-bold">Jessica Randall</h2>
        <p class="text-primary pt-2 text-md font-bold">
          London, United Kingdom
        </p>

        <p class="text-white pt-5 text-sm px-8 w-25">
          "Frontend developer and avid reader"
        </p>
      </div>
      <ul class="pt-7 pb-7 px-6 flex flex-col gap-y-4">
        <Button title="Github" href="https://github.com/santiagomac" />
        <Button title="Twitter" href="#" />
        <Button
          title="LinkedIn"
          href="https://www.linkedin.com/in/santiagomazuera/"
        />
        <Button
          title="Instagram"
          href="https://www.instagram.com/santimazuers/"
        />
      </ul>
    </div>
  </main>
</Layout>
